[submodule "meta-java"]
	path = meta-java
	url = git://git.yoctoproject.org/meta-java
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = daisy
